In [7]:
# Import
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')

import seaborn as sns
from sqlalchemy import create_engine, inspect

In [8]:
#INIT DB CONNECT
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [9]:
#Inspector
inspector = inspect(engine)

tables = inspector.get_table_names()

tables

[]

In [10]:
columns = inspector.get_columns("measurement")
columns

[]

In [11]:
columns = inspector.get_columns("station")
columns

[]

In [ ]:
#Precipitation Analysis

In [ ]:
query = "SELECT max(date) from measurement"
engine.execute(query).fetchall()

In [ ]:
db = engine.connect() #ONLY DO ONCE

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data.
# Select only the date and prcp values.
# Load the query results into a Pandas DataFrame and set the index to the date column. 
# Sort the DataFrame values by date.
query = """
            SELECT
                date,
                prcp
            FROM
                measurement
            WHERE
                date >= '2016-08-23'
                and prcp is not null
        """
# Query All Records in the the Database
df = pd.read_sql(query, con=db)

# Preview the Data
df.head(20)

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(df.date, df.prcp)
plt.title("Precipitation")
plt.xlabel("Dates")
plt.ylabel("Inches")
plt.show()

In [ ]:
# Use Pandas to print the summary statistics for the precipitation data.
df.describe()

In [ ]:
#Station Analysis

In [ ]:
# Design a query to calculate the total number of stations.
query = """
            SELECT
                *
            FROM
                station
        """

# Query All Records in the the Database
stations_df = pd.read_sql(query, con=db)

stations_df.head(10)

In [ ]:
print(f"There are {len(stations_df)} stations!!")

In [ ]:
# Design a query to find the most active stations.
# List the stations and observation counts in descending order.

query = """
            SELECT
                s.station,
                count(*) as record_count
            FROM
                measurement m
            JOIN station s on m.station=s.station
            GROUP BY
                s.station
            ORDER BY
                record_count desc
        """

# Query All Records in the the Database
stations_df2 = pd.read_sql(query, con=db)

stations_df2.head(10)

In [ ]:
stations_df2.describe()

In [ ]:
# Which station has the highest number of observations?
stations_df2.max()

In [ ]:
# Design a query to retrieve the last 12 months of temperature observation data (TOBS).
# Filter by the station with the highest number of observations.

query = """
            SELECT
                m.*,
                s.id as station_id,
                s.name
            FROM
                measurement m
            JOIN station s on m.station=s.station
            WHERE
                m.station = 'USC00519281'
                and date >= '2016-08-23'
        """

# Query All Records in the the Database
station_highest_observations = pd.read_sql(query, con=db)

station_highest_observations.head(20)

In [ ]:
plt.figure(figsize=(10,6))
plt.hist(station_highest_observations.tobs, bins=12)
plt.title("Histogram for Station USC00519281")
plt.xlabel("Tempertaure")
plt.ylabel("Frequency")
plt.show()